<template name="search">
    <form action="" id="searchForm" name="search" class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" name="searchInput" id="searchInput" class="form-control" placeholder="Search">
        </div>
        <div class="form-group">
          <select name="searchFilter" id="searchFilter" class="form-control">
            <option value="soundcloud">SoundCloud</option>
            <option value="spotify"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</option>
          </select>
        </div>
    </form>
</template>


<!--  Search result template-->
<template name="searchQuery">
  {{#if result}}

  <div class="search-query">
        <ul>
          <h4>TOP RESULT</h4>
          <hr>
          <!--  search result item-->
          <li>
            {{#if ifFilterSoundCloud}}
            {{#each getSoundCloud}}
            <div id="query-item" class="row">
              <div class="col-xs-3">
                <img  width="200px" height="200px" src="{{image}}" class="img-responsive center-block" alt="">
              </div>
              <div class="col-xs-9">
                <h3><strong>{{title}}</strong></h3>
                <!-- <p>Artist: {{artists.[0].name}}</p> -->
                <button id="play" class="btn btn-icon" ><i class="fa fa-play" aria-hidden="true"></i></button>
                <button id="addToPlayList" class="btn btn-icon"><i class="fa fa-plus" aria-hidden="true"></i> Soundbox</button>
                <button id="shareSong" class="btn btn-icon"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</button>
                <span><i class="fa fa-soundcloud" aria-hidden="true"></i></span>
              </div>
            </div>
            {{/each}}
            {{else}}
            {{#each getSpotify}}
            <div id="query-item" class="row">
              <div class="col-xs-3">
                <img width="200px" height="200px" src="{{album.images.[1].url}}" class="img-responsive center-block" alt="">
              </div>
              <div class="col-xs-9">
                <h3><strong>{{name}} ( {{artists.[0].name}} )</strong></h3>
                <!-- <p>Artist: {{artists.[0].name}}</p> -->
                <button id="play" class="btn btn-icon" ><i class="fa fa-play" aria-hidden="true"></i></button>
                <button id="addToPlayList" class="btn btn-icon"><i class="fa fa-plus" aria-hidden="true"></i> Soundbox</button>
                <button id="shareSong" class="btn btn-icon"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</button>
                <span><i class="fa fa-spotify" aria-hidden="true"></i></span>
              </div>
            </div>
            {{/each}}
            {{/if}}
          </li>
          <!--  END search result item-->
        </ul>
  </div>
  {{/if}}

</template>
