<template name="navBar">
    <nav id="search-bar" class="navbar navbar-default">
  	<div class="container">
  	        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
               <a class="navbar-brand" href="{{pathFor route="home"}}">Music Ninja</a>

          </div>
           <div id="navbar" class="collapse navbar-collapse">
               {{> search}}
           {{> searchQuery}}

            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{pathFor route="addPlaylist"}}">Add Song</a></li>
              <li><a href="{{pathFor route="myMusic"}}">My Music</a></li>
              {{#if currentUser}}
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.username}} <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="#" id="logout">Logout</a></li>
                   <li><a href="{{pathFor route="dashboard"}}">Dashboard</a></li>
                 </ul>
               </li>

               {{else}}
               <li><a href="{{pathFor route="login"}}">Login</a></li>
               <li><a href="{{pathFor route="register"}}">Register</a></li>
               {{/if}}
            </ul>

	        </div><!--/.nav-collapse -->

         </div>
     </nav>
</template>
