<template name="dashboard">
    {{> profile}}
    <hr>
    <div class="container user">
      <div id="my-music-list">
        <h3><strong>MY MUSIC</strong></h3>
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Artist</th>
              <th>Duration</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Timber</td>
              <td>Pitbull</td>
              <td>4:20</td>
              <td><i class="fa fa-times" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Agay</td>
              <td>Abscond</td>
              <td>4:20</td>
              <td><i class="fa fa-times" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Inday</td>
              <td>Missing Philemon</td>
              <td>4:20</td>
              <td><i class="fa fa-times" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="my-playlist">
        <h3><strong>MY PLAYLISTS</strong></h3>
        <div class="col-lg-4">
          <div class="playlist-item">
            <div class="header">
              <h4>Love Songs</h4>
            </div>
            <div class="body-wrapper">
              <img src="https://i.scdn.co/image/de50cbd4f0e62be8d4ffd11c7d6f3c59d964bdb6" class="img-responsive center-block" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="profile">
  <header class="user-profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <input type="image" src="{{currentUser.profile.avatar}}" width="100px">
          <form action="" id="form-upload-image" enctype="multipart/form-data" class="form-inline">
            <div class="form-group">
              <input type="file" name="profileImage" id="profileImage" style="display:none" >
            </div>
          </form>
        </div>
      </div>
      <!-- <ul class="list-inline pull-right">
        <li class="pull-right"><a href="" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Playlist</a></li>
      </ul> -->
    </div>
  </header>
</template>
